<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="userProfile" class="profile-container">
    
   >

    <h1 class="profile-name">{{ userProfile.firstName }} {{ userProfile.lastName }}</h1>
    

    <ion-card>
      <ion-card-header>
        <ion-card-title>Información Personal</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <h2>Nombre</h2>
              <p>{{ userProfile.firstName }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Apellido</h2>
              <p>{{ userProfile.lastName }}</p>
            </ion-label>
          </ion-item>
        <ion-item *ngIf="userProfile.gender">
  <ion-label>
    <h2>Género</h2>
    <p>{{ userProfile.gender | genderTranslate }}</p>
  </ion-label>
</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div *ngIf="userProfile">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mis Publicaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list *ngIf="userBlogs.length > 0; else noBlogs">
          <ion-item *ngFor="let blog of userBlogs" [routerLink]="['/blog', blog._id]" button>
            <ion-label>
              <h3>{{ blog.title }}</h3>
              <p>{{ blog.created_at | date }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ng-template #noBlogs>
          <p>Aún no has escrito ningún blog.</p>
        </ng-template>
      </ion-card-content>
    </ion-card>
    </div>
  </div>
</ion-content>