.avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .large-avatar {
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
        border: 3px solid var(--ion-color-primary);
    }

    ion-item {
        width: 100%;
        --background: transparent;
    }
}

ion-list-header {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--ion-color-dark);
    margin-top: 10px;
}