<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button (click)="navigateTo('/home')">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>

      <ion-item button (click)="navigateTo('/profile', true)">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
      </ion-item>

      <ion-item button (click)="openCreateBlogModal()">
        <ion-icon name="create-outline" slot="start" ></ion-icon>
        <ion-label>Escribir Blog</ion-label>
      </ion-item>

      <ion-item *ngIf="isAuthenticated$ | async" button (click)="navigateTo('/settings', true)">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
